::selection {
    background: #006286;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;    
}

html, body { 
    height: 100%; 
}

body {
    display: flex;
    min-height: 100vh;
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #68f7ff 100%);
    overflow-x: hidden;
}

.ocean { 
    height: 25%;
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    background: #015871;
    z-index: 1;
}

.wave {
    background: url(/Assets/SVGs/ocean.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    overflow-x: hidden;
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    flex: 1;
    z-index: 2;
    max-height: 800px;
}

.card span {
    white-space: nowrap;
}

.card-content {
    background: linear-gradient(145deg, #71beb2 40%, #4cb2c4);
    /* background-color: #71beb2; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px;
    flex: 1;
    padding: 20px;
    border: #222 3px solid;
}

.profile-box i {
    margin-bottom: 10px;
}

.page-icon {
    font-size: 50px;
}

.profile-pic {
    width: 150px;
    height: 100%;
    border-radius: 50%;
    border: black 5px solid;
    box-shadow: black 0 0 10px;
}

.profile-pic.spinning {
    animation: spin 2s linear 1;
}

.profile-pic.zooming {
    animation: zoomInOut 2s ease-in-out;
}

.profile-pic.bouncing {
    animation: bounce 1s ease-in-out;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes zoomInOut {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}

h3 {
    font-size: 15px;
}

.socials-list ul {
    list-style: none;
}

.socials-list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

.socials-list a {
    text-decoration: none;
    color: #222;
    font-size: 25px;
    transition: transform 0.1s ease;
}

.socials-list a:hover {
    cursor: pointer;
    color: #3c3c3c;
}

.nav-button {
    width: 100px;
    height: 30px;
    font-size: 13px;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: #222;
    box-shadow: #222 5px 5px 2px;
    margin: 3px;
    border: #222 1px solid;
    transition: transform 0.1s ease;
}

.nav-button:hover {
    background-color: #222;
    border: white 1px solid;
    color: white;
    cursor: pointer;
    transform: translateY(2px) rotateX(-2deg);
    box-shadow: none;
}

.nav-button-selected {
    width: 100px;
    height: 30px;
    font-size: 13px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #222;
    border: white 1px solid;
    color: white;
    cursor: pointer;
    transform: translateY(2px) rotateX(-2deg);
    box-shadow: none;
}

.nav-button:active {
    background-color: #3e3e3e;
}

.about-me-section {
    justify-content: center;
    background: white;
    margin-top: 10px;
    /* height: 320px; */
    max-width: 435px;
    padding: 10px;
    border-radius: 10px;
    border: #222 3px solid;
}

.about-section-header {
    margin-top: 10px;
}

.certification-link {
    color: #222;
}

.certification-link:hover {
    color: #3c3c3c;
    text-decoration: dotted underline 2px;
}

.b {
    font-weight: bold;
}

footer {
    background-color: #006286;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 10px;
}

.all-rights-reserved {
    text-decoration: none;
    color: rgb(38, 38, 38);
}

.all-rights-reserved:hover {
    color: white;
    text-decoration: underline;
}

.mobile-footer-margin {
    display: none;
}

/* If on smaller device */
@media (max-width: 530px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .nav-button {
        width: 100%;
        height: 30px;
        font-size: 13px;
        border-radius: 10px;
        text-decoration: none;
        background-color: white;
        color: #222;
        box-shadow: none;
        margin: 3px;
        border: #222 1px solid;
        transform: none;
    }

    .nav-button:hover {
        background-color: #222;
        border: white 1px solid;
        color: white;
        cursor: pointer;
        transform: none;
        box-shadow: none;
    }

    .nav-button-selected {
        width: 100%;
        height: 30px;
        font-size: 13px;
        border-radius: 10px;
        text-decoration: none;
        background-color: #222;
        color: white;
        cursor: pointer;
        box-shadow: none;
        margin: 3px;
        border: white 1px solid;
        transform: none;
    }

    footer {
        margin-bottom: 0;
    }

    .mobile-footer-margin {
        display: block;
        height: 10px;
    }
}

@media screen and (max-height: 790px) {
    footer {
        margin-bottom: 0;
    }

    .mobile-footer-margin {
        display: block;
        height: 10px;
    }
}


/* PROJECT PAGE */
.project-container {
    max-width: 440px;
    /* height: 440px; */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 440px; /* Set the maximum height to enable scrolling */
    padding: 1px;
    position: relative;
    z-index: 1;
}

.project-card {
    max-width: 440px;
    display: flex; /* Add display: flex to the project card */
    padding: 10px;
    border: 3px solid #222;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgb(231, 231, 231); /* change this to white maybe later */
    transition: transform 0.2s ease;
    position: relative;
    z-index: 1;
    margin: 0 10px 0 10px;
}

.project-card:first-of-type {
    margin: 6px 10px 0 10px;
}

.project-card:last-of-type {
    margin: 0 10px 6px 10px;
}

.project-card:hover {
    transform: scale(1.05);
    z-index: 2;
}

.project-card img {
    max-width: 150px; /* Set the width of the image */
    width: 30%;
    height: 100%; /* Set the image height to take up the full height of the card */
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid black;
}

.project-details {
    flex: 1; /* Let the project details take the remaining space */
    display: flex;
    flex-direction: column;
    padding-left: 10px; /* Add some space between the image and text */
    align-items: center;
}

.project-card h2 {
    margin-top: 10px;
    text-align: center;
}

.project-card p {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.view-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.view-details {
    color: #222;
    padding: 3px;
}

.view-details:hover {
    background-color: #222;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* If on smaller device */
@media screen and (max-width: 530px) {
    .project-card {
        flex-direction: column;
        align-items: center;
    }

    .project-card:hover {
        transform: none;
        z-index: 2;
    }

    .project-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .project-details {
        text-align: center;
    }
}


/* BLOG PAGE */



/* CONTACT PAGE */
.contact-section {
    max-height: 450px;
    max-width: 440px;
    overflow-y: auto;
    background: rgb(231, 231, 231);
    border-radius: 10px;
    border: #222 3px solid;
    padding: 20px;
    margin-top: 10px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label::after {
    content: ' *';
    color: red;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #222;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-group button:hover {
    background-color: #3c3c3c;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}
