body {
    margin: 0;
    background-image: repeating-linear-gradient(to left,#d2b48c, #d2b2b48c);
    text-align: center;
    color: black;
}

footer {
    clear: both;
}

img {
    border-color: black;
    border-radius: 15px;
    border-style: solid;
}