body {
    margin: 0;
    background-color: #d2b48c;
    text-align: center;
    color: black;
}

footer {
    clear: both;
}

img {
    border-color: black;
    border-radius: 15px;
    border-style: solid;
}